<div id="left-sidebar">
  <div class="site-headline-box">
    <p class="site-title"><a href="http://ithacacommunitygardens.org/">Project Growing Hope</a></p>
    <p class="site-description">Ithaca Community Gardens</p>
  </div>
  <div class="menu-box">
    <div class="menu"><ul><li class="page_item page-item-16 current_page_item"><a href="http://ithacacommunitygardens.org/">Home</a></li><li class="page_item page-item-3 page_item_has_children"><a href="http://ithacacommunitygardens.org/about-us">About Us</a><ul class='children'><li class="page_item page-item-773"><a href="http://ithacacommunitygardens.org/about-us/history">History</a></li><li class="page_item page-item-449"><a href="http://ithacacommunitygardens.org/about-us/plot-map-directions">Plot Map &#038; Directions</a></li><li class="page_item page-item-487"><a href="http://ithacacommunitygardens.org/about-us/fundraising-raffle">Fundraising Raffle</a></li><li class="page_item page-item-344"><a href="http://ithacacommunitygardens.org/about-us/commemorating-chao-fu-cheng">Commemorating Chao-Fu Cheng</a></li><li class="page_item page-item-776"><a href="http://ithacacommunitygardens.org/about-us/food-empowerment-and-sustainability">Food Empowerment and Sustainability</a></li><li class="page_item page-item-840"><a href="http://ithacacommunitygardens.org/about-us/elsie-sheldrake-memorial-garden">Elsie Sheldrake Memorial Garden</a></li><li class="page_item page-item-865"><a href="http://ithacacommunitygardens.org/about-us/open-garden-day">Open Garden Day</a></li></ul></li><li class="page_item page-item-4 page_item_has_children"><a href="http://ithacacommunitygardens.org/garden-with-us">Become a Member</a><ul class='children'><li class="page_item page-item-12"><a href="/users/new">Apply for a Garden Plot / Renew</a></li><li class="page_item page-item-12"><a href="/charges/new">Pay</a></ul></li><li class="page_item page-item-298 page_item_has_children"><a href="http://ithacacommunitygardens.org/special-and-pre-season-volunteer-jobs">Work Contribution</a><ul class='children'><li class="page_item page-item-314"><a href="http://ithacacommunitygardens.org/special-and-pre-season-volunteer-jobs/commitees">Committees</a></li><li class="page_item page-item-330"><a href="http://ithacacommunitygardens.org/special-and-pre-season-volunteer-jobs/special-jobs">Special Jobs</a></li></ul></li><li class="page_item page-item-437 page_item_has_children"><a href="http://ithacacommunitygardens.org/rules-regulations">Rules &#038; Regulations</a><ul class='children'><li class="page_item page-item-441"><a href="http://ithacacommunitygardens.org/rules-regulations/gardener-agreement">Gardener Agreement</a></li><li class="page_item page-item-443"><a href="http://ithacacommunitygardens.org/rules-regulations/gardens-rules-policies">Gardens Rules &#038; Policies</a></li><li class="page_item page-item-439"><a href="http://ithacacommunitygardens.org/rules-regulations/bylaws">Bylaws</a></li></ul></li><li class="page_item page-item-9"><a href="http://ithacacommunitygardens.org/gardenpics">Pictures</a></li><li class="page_item page-item-9"><a href="/messages"</a>Plot Chat</li><li class="page_item page-item-92 page_item_has_children"><a href="http://ithacacommunitygardens.org/gardening-web-resources">Gardening Resources</a><ul class='children'><li class="page_item page-item-731"><a href="http://ithacacommunitygardens.org/gardening-web-resources/open-garden-skills-shares-2015">Open Garden Skill Shares 2015</a></li><li class="page_item page-item-103"><a href="http://ithacacommunitygardens.org/gardening-web-resources/watering">Watering</a></li><li class="page_item page-item-650"><a href="http://ithacacommunitygardens.org/gardening-web-resources/how-to-deal-with-bindweed-in-the-gardens">Dealing with Bindweed</a></li></ul></li><li class="page_item page-item-284"><a href="http://ithacacommunitygardens.org/community-partnerships">Community Partnerships</a></li><li class="page_item page-item-6"><a href="http://ithacacommunitygardens.org/contact-us">Contact Us</a></li><li class="page_item page-item-6"><a href="/meta">Admin</a></li></ul></div>
  </div>
</div> <!-- end of left-sidebar -->

<div id="container">
  <header id="header">
    <img class="header-image" src="http://ithacacommunitygardens.org/wp-content/uploads/2014/11/BabyChards_CommunityGardens-cropped.jpg" alt="Project Growing Hope" />
  </header>


  <div id="main-content">
    <div id="content">
      <div class="entry-content">
        <h1>Annual Garden Plot Application</h1>
        <div class="container">
          <h3> Contact Information</h3>

          <%= render 'form' %>

          <%= link_to 'Back', users_path %>

        </div>
      </div><!-- #comments .comments-area -->      </div>
    </div> <!-- end of content -->
  </div> <!-- end of main-content -->
</div> <!-- end of container -->
<div class="sidebar-background"></div>
<!-- ngg_resource_manager_marker --><script type='text/javascript' src='http://ithacacommunitygardens.org/wp-content/themes/liveride/js/placeholders.js?ver=2.1.0'></script>
<script type='text/javascript' src='http://ithacacommunitygardens.org/wp-content/themes/liveride/js/scroll-to-top.js?ver=1.0'></script>
<script type='text/javascript' src='http://ithacacommunitygardens.org/wp-content/themes/liveride/js/selectnav.js?ver=0.1'></script>
<script type='text/javascript' src='http://ithacacommunitygardens.org/wp-content/themes/liveride/js/responsive.js?ver=1.0'></script>
<script type='text/javascript' src='http://ithacacommunitygardens.org/wp-content/plugins/wp-jquery-lightbox/jquery.touchwipe.min.js?ver=1.4.6'></script>
<script type='text/javascript'>
    /* <![CDATA[ */
    var JQLBSettings = {"showTitle":"0","showCaption":"1","showNumbers":"1","fitToScreen":"0","resizeSpeed":"400","showDownload":"0","navbarOnTop":"0","marginSize":"0","slideshowSpeed":"4000","prevLinkTitle":"previous image","nextLinkTitle":"next image","closeTitle":"close image gallery","image":"Image ","of":" of ","download":"Download","pause":"(pause slideshow)","play":"(play slideshow)"};
    var JQLBSettings = {"showTitle":"0","showCaption":"1","showNumbers":"1","fitToScreen":"0","resizeSpeed":"400","showDownload":"0","navbarOnTop":"0","marginSize":"0","slideshowSpeed":"4000","prevLinkTitle":"previous image","nextLinkTitle":"next image","closeTitle":"close image gallery","image":"Image ","of":" of ","download":"Download","pause":"(pause slideshow)","play":"(play slideshow)"};
    /* ]]> */
</script>
<script type='text/javascript' src='http://ithacacommunitygardens.org/wp-content/plugins/wp-jquery-lightbox/jquery.lightbox.min.js?ver=1.4.6'></script>
